ui-button {
  margin: 3px 0px;
}
#root {
  border: solid 1px rgba(255,200,200,0.3);
  position: relative;
}
svg {
  position: absolute;
  left: 0px;
  top: 0px;
}
#svgimage {
  position: absolute;
  left: 0px;
  top: 0px;
}